html {
  background: #6441a4;
  margin: 20px;
}

body {

  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.link {
  color: #fff;
}

.link:hover {
  color: #fff;
}

.App {
  text-align: center;
  background: #6441a4;
  
}




